.dk-select, .dk-select *, .dk-select *:before, .dk-select *:after, .dk-select-multi, .dk-select-multi *, .dk-select-multi *:before, .dk-select-multi *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}

.dk-select, .dk-select-multi {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  cursor: pointer; 
}

.dk-selected {
  width: 100%;
  color: #999;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  background-color: white;
  padding: 13px 42px 13px 13px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis; 
}
.xs-menu .dk-selected{ background-color: #069; color: #fff; }
.xs-menu .dk-selected:after{ background-color: #012a46; }
.dk-selected:before, .dk-selected:after {
  content: '';
  display: block;
  position: absolute;
  right: 0; 
}
.dk-selected:before {
  top: 14px; right: 10px;
  color: #FFF;
  font-size: 20px;
  font-family: "quimobasicos" !important;
  content: "j";
  z-index: 1;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.dk-selected:after {
  top: 0;
  width: 42px;
  height: 100%;
  background-color: #666;
}

.dk-selected-disabled {
  color: #BBBBBB; 
}

.dk-select .dk-select-options {
  position: absolute;
  display: none;
  left: 0;
  right: 0; 
}

.dk-select-open-up .dk-select-options {
  margin-bottom: -1px;
  bottom: 100%; 
}

.dk-select-open-down .dk-select-options {
  margin-top: -1px;
  top: 100%; 
}

.dk-select-multi .dk-select-options {
  max-height: 10em; 
}

.dk-select-options {
  background-color: white;
  list-style: none;
  margin: 0;
  max-height: 10.5em;
  min-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  width: auto;
  z-index: 100;
  border: 1px solid #666;
  border-top: none; 
}

.dk-option-selected {
  background-color: #2a70ac;
  color: #fff; 
}

.dk-select-options-highlight .dk-option-selected {
  background-color: transparent;
  color: inherit; 
}

.dk-option {
  padding: 10px; 
}

.dk-select-options .dk-option-highlight {
  background-color: #2a70ac;
  color: #fff; 
}

.dk-select-options .dk-option-disabled {
  color: #BBBBBB;
  background-color: transparent; 
}

.dk-optgroup {
  border: solid #CCCCCC;
}
.dk-optgroup + .dk-option {
}
.dk-optgroup + .dk-optgroup {
  border-top-width: 0;
  margin-top: 0; 
}
.dk-optgroup:nth-child(2) {
  padding-top: 0;
  border-top: none;
  margin-top: 0; 
}
.dk-optgroup:last-child {
  border-bottom-width: 0;
  margin-bottom: 0;
  padding-bottom: 0; 
}

.dk-optgroup-label {
  padding: 0 0.5em 0.25em;
  font-weight: bold;
  width: 100%; 
}

.dk-optgroup-options {
  list-style: none;
  padding-left: 0; 
}
.dk-optgroup-options li {
  padding-left: 1.2em; 
}

.dk-select-open-up .dk-selected {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-color: #3297fd; 
}

.dk-select-open-down .dk-selected {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-color: #3297fd; 
}

.dk-select-open-up .dk-selected:before, .dk-select-open-down .dk-selected:before {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  top: 10px;
}

.dk-select-open-up .dk-selected:after, .dk-select-open-down .dk-selected:after {
  border-left-color: #3297fd; 
}

.dk-select-open-up .dk-select-options, .dk-select-open-down .dk-select-options, .dk-select-multi:focus .dk-select-options {
  display: block;
  border-color: #666; 
}

.dk-select-multi:hover, .dk-select-multi:focus {
  outline: none; 
}

.dk-selected:hover, .dk-selected:focus {
  outline: none;
  border-color: #3297fd; 
}
.dk-selected:hover:before, .dk-selected:focus:before {
}
.dk-selected:hover:after, .dk-selected:focus:after {
  background-color: #999;
}

.dk-select-disabled {
  opacity: 0.6;
  color: #BBBBBB;
  cursor: not-allowed; 
}
.dk-select-disabled .dk-selected:hover, .dk-select-disabled .dk-selected:focus {
  border-color: inherit; 
}
.dk-select-disabled .dk-selected:hover:before, .dk-select-disabled .dk-selected:focus:before {
  border-top-color: inherit; 
}
.dk-select-disabled .dk-selected:hover:after, .dk-select-disabled .dk-selected:focus:after {
  border-left-color: inherit; 
}

select[data-dkcacheid] {
  display: none; 
}
