/////////////////////////////
/////////////////////////////
//
//  Daniloblack
//  		Andres Guzman
//
/////////////////////////////

//////////////////////////////
///    Colores + Mixins    ///
//////////////////////////////
$azul: #2a70ac;
$azulmed: #069;
$azulosc: #012a46;
$naranja: #ff5936;
$verde: #96e307;
$verdemed: #92b93a;
$verdeosc: #017129;
$gris: #666;
$grisA: #a1a1a1;
$vaqua: #20847c;
$dorado: #d49e1e;
$lima: #70a83b;
$colors:(
	azul: $azul,
	azulmed: $azulmed,
	azulosc: $azulosc,
	naranja: $naranja,
	gris: $gris,
	grisA: $grisA,
	vaqua: $vaqua,
	dorado: $dorado,
	lima: $lima,
	verdemed: $verdemed,
	verdeosc: $verdeosc,
	verde: $verde
	);
@mixin opacity($opacity) {
	-webkit-opacity: $opacity;
	-moz-opacity: $opacity;
	opacity: $opacity;
	$opacity-ie: $opacity * 100;
	filter: alpha(opacity=$opacity-ie);
}
@mixin radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}
@mixin transition($prop: all, $time: 300ms, $opt: null, $fn: null) {
	transition: $prop $time $fn $opt; 
	-moz-transition: $prop $time $fn $opt; 
	-webkit-transition: $prop $time $fn $opt; 
	-o-transition: $prop $time $fn $opt;
}
@mixin transform($trans) {
	-webkit-transform: $trans;
	transform: $trans;
}
@mixin boxshadow($hoff, $voff, $blur, $color, $spread: null, $inset: null){
	-webkit-box-shadow: $hoff $voff $blur $color $spread $inset; 
	-moz-box-shadow: $hoff $voff $blur $color $spread $inset;
	box-shadow: $hoff $voff $blur $color $spread $inset;
}
@mixin bgsize($size){
	-webkit-background-size: $size; 
	-moz-background-size: $size; 
	-o-background-size: $size; 
	-ms-background-size: $size; 
	background-size: $size;
}
@mixin bgtrans($color, $alpha){
	background-color: $color;
	background-color: rgba($color,$alpha);
}
@mixin appearance{
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;
}
@mixin dropshadow($hoff, $voff, $blur, $color){
	-webkit-filter: drop-shadow($hoff, $voff, $blur, $color); 
	-moz-filter: drop-shadow($hoff, $voff, $blur, $color); 
	-ms-filter: drop-shadow($hoff, $voff, $blur, $color); 
	-o-filter: drop-shadow($hoff, $voff, $blur, $color); 
	filter: drop-shadow($hoff, $voff, $blur, $color);
}
@mixin valign-parent{
	display:table; 
	height: 100%;
	width: 100%;
}
@mixin valign{
	display:table-cell; 
	vertical-align:middle;
}

/////////////////////////
///    	 Fonts        ///
/////////////////////////
@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300,400);


@font-face {
	font-family:'ProximaNova';
	src: url('fonts/ProximaNova-Regular_gdi.eot');
	src: 
	url('fonts/ProximaNova-Regular_gdi.eot?#iefix') format('embedded-opentype'),
	url('fonts/ProximaNova-Regular_gdi.woff') format('woff'),
	url('fonts/ProximaNova-Regular_gdi.ttf') format('truetype'),
	url('fonts/ProximaNova-Regular_gdi.svg#ProximaNova') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}
@font-face {
	font-family:'ProximaNova-Light';
	src: url('fonts/ProximaNova-Light_gdi.eot');
	src: 
	url('fonts/ProximaNova-Light_gdi.eot?#iefix') format('embedded-opentype'),
	url('fonts/ProximaNova-Light_gdi.woff') format('woff'),
	url('fonts/ProximaNova-Light_gdi.ttf') format('truetype'),
	url('fonts/ProximaNova-Light_gdi.svg#ProximaNova-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
}
@font-face {
	font-family:'ProximaNova-Semibold';
	src: url('fonts/ProximaNova-Semibold_gdi.eot');
	src: 
	url('fonts/ProximaNova-Semibold_gdi.eot?#iefix') format('embedded-opentype'),
	url('fonts/ProximaNova-Semibold_gdi.woff') format('woff'),
	url('fonts/ProximaNova-Semibold_gdi.ttf') format('truetype'),
	url('fonts/ProximaNova-Semibold_gdi.svg#ProximaNova-Semibold') format('svg');
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
}
@font-face {
	font-family:'ProximaNova-Bold';
	src: url('fonts/ProximaNova-Bold_gdi.eot');
	src: 
	url('fonts/ProximaNova-Bold_gdi.eot?#iefix') format('embedded-opentype'),
	url('fonts/ProximaNova-Bold_gdi.woff') format('woff'),
	url('fonts/ProximaNova-Bold_gdi.ttf') format('truetype'),
	url('fonts/ProximaNova-Bold_gdi.svg#ProximaNova-Bold') format('svg');
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
}
@font-face {
    font-family: 'soho_stdbold';
    src: url('fonts/soho_std_bold-webfont.woff2') format('woff2'),
         url('fonts/soho_std_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gothamregular';
    src: url('fonts/gotham-bold-webfont.woff2') format('woff2'),
         url('fonts/gotham-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/////////////////////////
///    	 Icons        ///
/////////////////////////
@font-face {
	font-family: "quimobasicos";
	src:url("fonts/quimobasicos.eot");
	src:
	url("fonts/quimobasicos.eot?#iefix") format("embedded-opentype"),
	url("fonts/quimobasicos.woff") format("woff"),
	url("fonts/quimobasicos.ttf") format("truetype"),
	url("fonts/quimobasicos.svg#quimobasicos") format("svg");
	font-weight: normal;
	font-style: normal;
}
[data-icon]:before {
	font-family: "quimobasicos" !important;
	content: attr(data-icon);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: "quimobasicos" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
header .icon-pedidos, header .icon-pedidos:before{ font-size: 30px; height: 28px; margin-top: -5px; }
.icon{ display: inline-block; vertical-align: middle; }
.icon-blog:before { content: "a"; }
.icon-pedidos:before { content: "b"; }
.icon-zoom:before { content: "c"; }
.icon-fb:before { content: "d"; }
.icon-tw:before { content: "e"; }
.icon-in:before { content: "f"; }
.icon-yt:before { content: "g"; }
.icon-atras:before, .icon-adelante:before { content: "h"; }
.icon-adelante { @include transform(scaleX(-1)); }
.icon-mas:before { content: "i"; }
.icon-right:before { content: "j"; }
.icon-seguridad:before { content: "m"; }
.icon-mapa:before { content: "k"; }
.icon-der:before { content: "l"; }
.icon-izq:before { content: "n"; }
.icon-nube:before { content: "o"; }
.icon-play:before { content: "p"; }
.icon-descarga:before { content: "q"; }
.icon-tel:before { content: "r"; }

// Map Marker by Jardson Almeida from the Noun Project
// Cloud Download by Icons8 from the Noun Project
// Arrow by Gleb Khorunzhiy from the Noun Project
// Telephone by mathieu dedebant from the Noun Project

////////////////////
///    Resets    ///
////////////////////
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body{	background-color: #FFF;	margin: 0; }
a, button{
	color: #FFF;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	@include transition(all, 500ms);
	&:hover{ color: darken(#fff,20%); }
	&:hover, &:active{ outline: 0; }
}
ul, ol{
	list-style: none;
	padding: 0;
	margin: 0;
}
table{ 
	width: 100%; 
	height: 100%; 
	border-spacing: 0;
	border-collapse: collapse;
	td{ vertical-align: middle; }
}
button, input, optgroup, select, textarea {
	margin: 0;
	padding: 0; 
	border: none; 
	font: inherit;
	color: inherit;
}
blockquote{ padding: 0; margin: 0; font-family: 'Roboto Slab'; }
button, input[type="button"], .clickable{ @include appearance; cursor: pointer; }
img{ max-width:100%; border: 0; display: inline-block; }
article, aside, footer, header, nav, section{	display: block; }
hr { height: 0;	-moz-box-sizing: content-box;	box-sizing: content-box; }
.left{ float: left; }
.right{ float: right; }
.inline{ display: inline-block; }
.relative, #wrapper, #canvas, section{ position: relative; }
.absolute{ position: absolute; }
.fixed{ position: fixed; width: 100%; }
.block{ display: block !important; }
.hidden{ display: none !important; }
.noscroll{ overflow: hidden; }
.va-p{ @include valign-parent; }
.va{ @include valign; }
.vab{ @include valign; vertical-align: bottom !important; }
.vat{ @include valign; vertical-align: top; }
.ovh{ overflow: hidden; }

//////////////////////////////
///    Framework Layout    ///
//////////////////////////////
$space: 15px;

.container, article {
	padding-right: $space;
	padding-left: $space;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}
.row {
	margin-right: -$space;
	margin-left: -$space;
}
.tbl{
	width: 100%;
	height: 100%;
	display: table;
	table-layout: fixed;
	> div[class*="col"]{ 
		height: 100%;
		display: table-cell;
		vertical-align: top;
		float: none !important;
		padding-right: 10px;
		padding-left: 10px; 
		&.vam{ vertical-align: middle; }
	}
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.row:before,
.row:after,
.item:before,
.item:after,
article:before,
article:after{
	display: table;
	content: " ";
}
.clearfix:after,
.container:after,
.row:after,
.item:after,
article:after {
	clear: both;
}
.show-xs{ display: none; }

$cols: 12;

@for $i from 1 through $cols {
	.col#{$i}{ width: ($i * (100/$cols)) * 1%; }
	.off#{$i}{ margin-left: ($i * (100/$cols)) * 1%; }
}
.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12{
	position: relative;
	min-height: 1px;
	padding-right: $space;
	padding-left: $space;
	float: left;
}
div[class*="xs-col"]{ 
	padding-right: $space;
	padding-left: $space;
}

@media (min-width: 768px)  { .container, article { width: 750px; } }
@media (min-width: 860px)  { .container, article { width: 840px; } }
@media (min-width: 992px)  { .container, article { width: 960px; } }
@media (min-width: 1200px) { .container, article { width: 1170px; } }

@media (max-width: 1024px) {
	@for $i from 1 through $cols {
		.md-col#{$i}{ width: ($i * (100/$cols)) * 1%; }
	}
	.md-off0{ margin-left: 0 !important; }
}
@media (max-width: 768px) {
	div[class*="off"]{ margin-left: 0; }
	@for $i from 1 through $cols {
		.sm-col#{$i}{ width: ($i * (100/$cols)) * 1%; }
	}
	.sm-off0{ margin-left: 0 !important; }
	.sm-mt0{ margin-top: 0 !important; }
}
@media (max-width: 640px) {
	.container, .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12, article{	width: 100%; }
	@for $i from 1 through $cols {
		.xs-col#{$i}{ width: ($i * (100/$cols)) * 1% !important; float: left; }
		.xs-off#{$i}{ margin-left: ($i * (100/$cols)) * 1%; }
	}
}

////////////////////
///    Colors    /// 
////////////////////
@each $color in $colors{
	.#{""+nth($color,1)}{
		color: #{nth($color,2)};
	}
	a.#{""+nth($color,1)}:hover{ 
		color: darken(nth($color,2),20%);
	}
	.bg-#{""+nth($color,1)}{
		background-color: #{nth($color,2)};
	}
	a.bg-#{""+nth($color,1)}, button.bg-#{""+nth($color,1)}{
		color: white;
		&:hover{ background-color: darken(nth($color,2),10%); }
	}
}
.bg4{ background-color: #444 }
.bgbco{ background-color: #fff; }
.bgf1{ background-color: #f1f1f1; }
.bge3{ background-color: #e3e3e3 !important; }
.bgvd{ background-color: #60b281; } a.bgvd:hover{ background-color: darken(#60b281,10%); }
.trans-bco{ @include bgtrans(white,0.92); }
.bbot{ border-bottom: 1px solid #ccc; }
.bbazul{ border-bottom: 1px solid $azulmed; }
.bbverde{ border-bottom: 2px solid $verdemed; }
.btop{ position: relative; padding-top: 10px; &:after{ content: ''; position: absolute; top: 0; left: 0; z-index: 10; width: 300px; height: 2px; background-color: $azul; border-top: 1px solid #ccdde8; } }
.bb-lima, .bb-verde, .bb-azul{ position: relative; padding-bottom: 15px; &:after{ content: ''; position: absolute; bottom: -3px; left: 0; z-index: 10; width: 120px; height: 8px; background-color: $lima; } }
.bb-verde:after{ background-color: $verdeosc; }
.bb-azul:after{ background-color: $azulmed; }
article.bb-lima:after, article.bb-verde:after, article.bb-azul:after{ left: 15px; }

////////////////////////////////
///    Margins + Paddings    ///
////////////////////////////////
@for $i from 1 through 5 {
	@each $position in b, t, r, l{
		.m#{$position}#{$i*10}{ 
			margin: {
				@if $position == b { bottom: $i * 10px; }
				@if $position == t { top: $i * 10px; 		}
				@if $position == r { right: $i * 10px;	}
				@if $position == l { left: $i * 10px; 	}
			}
		}
	}
}
.h85{ height: 85px; overflow: hidden }
.h200{ height: 240px; overflow: hidden }
.mt15{ margin-top: 15px; }
.mb90{ margin-bottom: 90px; }
.p020{ padding: 20px 30px 20px 10px; }
.p20{ padding: 20px; }
.p40{ padding-top: 40px; padding-bottom: 40px; }
.p60{ padding-top: 60px; padding-bottom: 60px; }
.pb0{ padding-bottom: 0 !important; }
.pt140{ padding-top: 140px; }
.pt170{ padding-top: 170px; }

@for $j from 1 through 3 {
	.op#{$j*25}{ 
		@include opacity($j*25/100);
		@include transition(opacity, 0.3s);
	}
}

///////////////////
///    Fonts    /// 
///////////////////
html{ font-size: 16px; font-family: 'ProximaNova', sans-serif;	font-style: normal; font-weight: normal; color: #333;	}
h1, h2, h3, h4, h5, h6, p{ margin:0 0 10px; font-style: normal; line-height: 120%; a{ color: #333; } }

em, aside nav a{ font-family: 'ProximaNova-Light', sans-serif; font-style: normal; }
strong{	font-family: 'ProximaNova-Semibold', sans-serif; }
b{	font-family: 'ProximaNova-Bold', sans-serif; }
th{ font-weight: normal; }
.italic{ font-style: italic; }
.center{ text-align: center; }
.under{ text-decoration: underline; }
.stage h1, h2{ font-family: 'Montserrat'; font-weight: 700; }
.slab{ font-family: 'Roboto Slab'; em{ font-family: 'Roboto Slab'; font-weight: 300; } }

h1, .h1{ font-size: 55px; }
h2{ font-size: 30px; line-height: 100% }
.h2, aside nav a, blockquote{ font-size: 24px; }
h3, .h3{ font-size: 20px; }
h4, .h4, .btn{ font-size: 18px; }
h5, .h5{ font-size: 14px; }
h6, .h6{ font-size: 12px; }
p{ font-size: 1em; }

.f30{ font-size: 30px; }
.bco, .btn{ color: white; }
.content h1, .blk{ color: #000; }
.gris6{ color: #666; }
.ls40{ letter-spacing: 0.04em; }

::-webkit-input-placeholder { color: #999; }
:-moz-placeholder { color: #999; }
::-moz-placeholder { color: #999; }
:-ms-input-placeholder { color: #999; }

////////////////////////////////
///    Common UI Elements    ///
////////////////////////////////
// Buttons
.btn{
	padding: 11px 18px;
	text-align: center;
	display: inline-block;
	@include radius(5px);
	&.full{ width: 100%; padding: 11px; }
}
// Divider
.divider{
	position: relative;
	&:before{
		content: '';
		width: 1px;
		height: 80%;
		position: absolute;
		top: 10%; left: -$space;
		@include bgtrans(white,0.2);
	}
	&.col6:before{
		left: 0; background-color: $azul;
	}
}
// Inputs
input, textarea{
	height: 42px;
	width: 100%;
	padding: 10px;
	background-color: #FFF;
	&:disabled{ background-color: #f8f5f5; }
	&:focus{ border-color: #fff; outline:0; }
}
.bd-azul{ border: 1px solid $azulmed; @include radius(3px); padding: 10px }
input.bd-azul:focus{ border-color: $azulosc; }
label{ font-size: 24px; color: $azul; }
// Modals
.modal{
	display: none;
	position: fixed;
	top: 0; left: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	overflow: scroll;
	background-color: rgb(56,12,26);
	background-color: rgba(56,12,26,0.96);
}
// Image Cover Blocks
section, .img-bg{ 
	@include bgsize(cover);
	background-repeat: no-repeat;
	background-position: center top;
}
.img-bg.bg100{ @include bgsize(100% auto); }
.grad > .img-bg, .grad:before{
	position: absolute;
	top: 0; left: 0;
	content: '';
	z-index: -1;
	width: 100%; 
	height: 700px;
}
.grad:before{
	z-index: 0;
	height: 460px;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.6)), color-stop(100%,rgba(0,0,0,0)));
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(top,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99000000', endColorstr='#00000000',GradientType=0 );
}
// Social Icons
.social a{
	color: $azulosc;
	font-size: 44px;
	margin-right: 2px;
	vertical-align: top;
	&.blog{
		width: 44px;
		height: 44px;
		padding-top: 15px;
		text-align: center;
		border: 2px solid $azulosc;
		@include radius(50%);
		img{ display: inline-block; vertical-align: top; @include transition(all, 500ms); }
		&:hover{ border-color: $azul; img{ -webkit-filter: brightness(2.3); filter: brightness(2.3); } }
	}
	&:hover{ color: $azul; }
}

///////////////////
////  Header  /////
///////////////////
header{
	position: fixed;
	top: 0; left: 0;
	z-index: 99;
	width: 100%;
	height: 138px;
	padding-top: 20px;
	background: url(../img/bg/header.png) 0 0 repeat-x;
	.btn-menu{
		font-size: 20px;
		padding-bottom: 2px;
		@include transition(all, 200ms);
		&:hover{ border-bottom: 2px solid $azul; color: #FFF }
		> span{
			margin-right: 5px;
			display: inline-block;
			vertical-align: middle;
			span{
				width: 18px;
				height: 2px;
				display: block;
				margin-bottom: 4px;
				background-color: #FFF;
			}
		}
	}
	&.bg-azul{
		height: 100px;
		background: $azul !important;
		.btn{ border: 1px solid white; margin-top: 5px; &:hover{ background-color: #fff; color: $azul; } }
	}
}

/////////////////
////  Menu  /////
/////////////////
aside {
	position: fixed;
	z-index: 99999;
	top: 0; right: -350px;
	width: 350px;
	height: 100%;
	overflow-y: auto;
	padding:25px 30px 40px;
	background-color: $azulmed;
	@include transition(all, 0.3s);
	.icon-adelante{ font-size: 44px; }
	.social{
		text-align: center;
		margin-bottom: 20px;
		padding-bottom: 10px;
		border-bottom: 1px solid white;
		.icon{ color: white; margin-right: 5px; &:hover{ color: darken(white,20%); } }
		.blog{ border-color: white; img{ filter: invert(1) brightness(2) !important; -webkit-filter: invert(1) brightness(2) !important; } &:hover{ border-color: darken(white,20%); } }
	}
	nav{
		margin-bottom: 100px;
		ul{ margin: 0 -30px; }
		a{
			display: block; 
			padding: 15px 30px; 
			text-align: right;
			&:hover{ background-color: $azulosc; }
		}
	}
	p{ font-size: 11px; color: #FFF; }
}
.mask {
	position: fixed;
	top: 0;	left: 0;
	z-index: 990;
	width: 100%;
	height: 100%;
	@include bgtrans($azulosc, 0.47);
}
body.menu-open{
	overflow: hidden;
	aside { right: 0 }
}

///////////////////
////  Footer  /////
///////////////////
footer{
	.container{ padding-top: 40px; padding-bottom: 40px; }
	.bg-azul .container{ padding-top: 60px; padding-bottom: 60px; }
	h4{
		font-size: 16px;
		color: $azulosc;
		font-family: 'ProximaNova-Bold', sans-serif;
	}
	li{
		display: block;
		margin-bottom: 2px;
		a{ 
			color: #ccc; 
			font-size: 15px; 
			padding-bottom: 3px;
			border-bottom: 1px solid transparent;
			&:hover{ border-bottom-color: #CCC; }
		}
	}
	.mapa{
		height: 145px;
		position: relative;
		a{
			opacity: 0;
			color: #FFF;
			width: 100%;
			height: 100%;
			font-size: 14px;
			padding-top: 64px;
			text-align: center;
			position: absolute;
			top: 0; left: 0;
			text-transform: uppercase;
			@include bgtrans(#545454,0.68);
			b{ @include transform(translate(0, -50px)); @include transition(all,500ms); }
		}
		&:hover a{
			opacity: 1;
			b{ @include transform(translate(0)); }
		}
	}
}

///////////////////
////  Layout  /////
///////////////////
#home-stage{
	height: 750px;
	position: relative;
	article{ z-index: 10; }
	#bloques, > .trans-bco{ position: absolute; left: 0; width: 100%; }
	#bloques{ bottom: 88px; }	> .trans-bco{ bottom: 0; }
}
#slider .img-bg{
	width: 100%;
	height: 750px;
	padding-top: 170px;
	@extend .img-bg;
	&:before{
    content: '';
    width: 100%;
    height: 100%;
    display: block;
		position: absolute;
    z-index: 0; top: 0; left: 0;
    background: rgba(76, 71, 71, 0.05);
	}
	#slide1Overlay {
		margin-top: 23px; max-width: 110%; margin-left: -5%;
	}
	#slide1Header1 {
		position: relative; z-index: 999; margin-top: -210px; font-size: 27px; margin-left: 14%; font-family: 'soho_stdbold'; 
	}
	#slide1Header2 {
		position: relative; z-index: 999; margin-top: -105px; font-size: 18px; margin-left: 63%; color: white;
	}

	#slide2Overlay {
		margin-top: 23px; max-width: 110%; margin-left: -40px;
	}
	#slide2Logo {
		margin-top: -137px; margin-left: 18px; position: relative; z-index: 999; max-width: 244px;
	}
	#slide2Text {
		position: relative; z-index: 999; margin-top: 1%; margin-left: -23px; font-size: 13px; color: white;
	}
	#slide2Header1 {
		position: relative; z-index: 999; margin-top: -150px; font-size: 23px; margin-left: 63%; color: #143d6c; display: flex;
	}
	#slide2Header2 {
		width: 24.8px; height: 24.8px; display: inline-block; margin-right: 4px;
	}
	#slide2Header3 {
		position: relative; z-index: 999; margin-top: 2%; font-size: 10.5px; margin-left: 62%; color: #143d6c; line-height: 1;
	}

	#slide3Overlay {
		margin-top: 22.8px; max-width: 110%; margin-left: -5%;
	}
	#slide3Logo {
		margin-top: -137px; margin-left: 72%; position: relative; z-index: 999; max-width: 288px;
	}
	#slide3Header {
		position: relative; z-index: 999; margin-top: -108px; margin-left: 2%; font-size: 38px; color: black; display: flex;
	}
	#slide3Icon {
		width: 40px; height: 40px; display: inline-block; margin-right: 4px;
	}
	#slide3Text {
		position: relative; z-index: 999; margin-top: 5.7px; margin-left: 2%; font-size: 17.1px; color: black; line-height: 1;
	}
	#slide3Separator {
		width: 381.6px; margin-left: 2%; height: 2.5px; color: black; background-color: black; border: none;
	}
}
.home-block{
	margin-top: 0; margin-bottom: 0;
	height: 100%;
	@include radius(7px 7px 0 0);
	@include bgtrans(black,0.56);
	.cont{ padding: 40px 20%; }
	.btn{ line-height: 90%; }
	p{ color: #FFF; }
	hr{ width: 60%; margin: 30px 0; }
}
.busqueda{
	width: 260px;
	margin-top: -7px;
	position: relative;
	button{
		width: 42px;
		height: 42px;
		z-index: 100;
		line-height: 42px;
		position: absolute;
		top: 0; right: 0;
		.icon{ color: #FFF; font-size: 20px; }
	}
	.dk-selected{ color: #666; border: 1px solid #666;}
}
.circ{ 
	height: 340px; 
	overflow: hidden;
	// padding-top: 100px;
	article{ height: 100%; }
	@media (max-width: 640px){ height: auto; padding: 50px 0; }
	&:before{
		content: '';
		width: 200%;
		height: 200%;
		margin-left: -100%;
		position: absolute; top: -50%; left: 50%;
		@include radius(50%);
		@include bgtrans($azul,0.4);
		@media (min-width: 768px)  { $var: 750px; width: $var; height: $var; top: -($var - 340px) / 2; margin-left: ($var / 2) * -1; }
		@media (min-width: 860px)  { $var: 840px; width: $var; height: $var; top: -($var - 340px) / 2; margin-left: ($var / 2) * -1; }
		@media (min-width: 992px)  { $var: 960px; width: $var; height: $var; top: -($var - 340px) / 2; margin-left: ($var / 2) * -1; }
		@media (min-width: 1200px) { $var: 1170px; width: $var; height: $var; top: -($var - 340px) / 2; margin-left: ($var / 2) * -1; }
	}
}
.prefoot{
	cursor: pointer;
	background: #FFF;
	@include transition;
	.img-bg{ position: relative; height: 250px; .va-p{ z-index: 10; position: relative; } &:before{ content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; @include bgtrans(black,0.32); @include transition; }}
	&:hover{ background: $azulmed; color: #FFF; .img-bg:before{ @include bgtrans(black,0.5); } }
} 
.content{ padding: 40px 80px; background-color: #f1f1f1; color: #333; }
.tabs {
	a{
		display: block;
		color: #959595;
		font-size: 18px;
		padding: 15px 10px;
		text-align: center;
		text-transform: uppercase;
		background-color: #585858;
		border-right: 1px solid #bababa;
		&:last-child{ border: none; }
		&:hover, &.act{ background-color: $azul; color: #FFF; }
	}
	&.t-verde a{ font-size: 16px; &:hover, &.act{ background-color: $verdeosc; } }
}
.t-mercados a{
	height: 70px;
	font-size: 15px;
	line-height: 20px;
	&.lh40{ line-height: 40px }
}
.tab-cont{ display: none; padding-top: 40px; }
.prod{
	cursor: pointer;
	position: relative;
	margin-bottom: 20px;
	@include transition(background,500ms);
	.img{
		width: 100%;
		height: 285px;
		margin-bottom: 10px;
		@include bgsize(auto 85%);
		background-repeat: no-repeat;
		background-position: center bottom;
	}
	.icon{ 
		color: #FFF;
		font-size: 64px;
		position: absolute;
		top: 50%; left: 50%;
		margin: -32px 0 0 -32px;
		@include opacity(0);
		@include transform(translate(0, -50px));
	}
	p{ height: 40px }
	.img, p, .icon{ @include transition(all,300ms); }
	&:hover {
		p{ color: #FFF; }
		.img{ @include bgsize(auto 97%); }
		.icon{ @include opacity(1); @include transform(translate(0)); }
		&.p-naranja{ background-color: $naranja; }
		&.p-verde{ background-color: $verde; }
		&.p-rosa{ background-color: #dd4d8b; }
		&.p-azul{ background-color: #3a91ff; }
		&.p-verdef{ background-color: #2bf18a; }
	}
}
.rel-prod{
	cursor: pointer;
	img{ @include transition(width, 300ms); }
	&:hover img{ max-width: inherit; }
}
table{
	th{ 
		color: #FFF; 
		text-align: left;
		padding: 10px 30px; 
		background-color: $azulmed; 
		border-bottom: 15px solid #f1f1f1;
	}
	td{ padding: 3px 30px; }
}
a.video{
	display: block;
	position: relative;
	img{ width: 100%; }
	.icon-play{ font-size: 70px; position: absolute; top: 50%; left: 50%; margin: -35px 0 0 -35px; }
}
.stage{
	height: 460px;
	padding: 30px 0;
	article, .tbl > div{ height: 100%; }
	h1{ color: #FFF; line-height: 100%; }
}
.descargas li{
	border-top: 1px solid $azul;
	&:last-child{ border-bottom: 1px solid $azul; }
	a{
		display: block;
		color: $azulmed;
		font-size: 20px;
		padding: 20px 15px;
		position: relative;
		&:hover{ background-color: $azul; color: #FFF; }
		.icon{ font-size: 24px; position: absolute; right: 15px; top: 20px; }
	}
	li a{ background-color: #FFF; }
}
.acc { b{ color: $azulmed; font-size: 18px; line-height: 14px; .icon{ font-size: 22px; margin: -5px 0 0 5px; } } &.act{ background-color: $azul; color: #FFF; b{ background-color: #FFF; .icon{ @include transform(rotate(90deg)); } } } ~ div{ display: none; } }
.list li{ border-bottom: 2px solid $azulosc; padding: 10px 0; p{ margin: 0; letter-spacing: 0.04em; } }
.bull li{
	font-size: 18px;
	position: relative;
	padding-left: 20px;
	margin-bottom: 20px;
	&:before{
		content: '';
		width: 8px; height: 8px;
		position: absolute;
		left: 0; top: 6px;
		background-color: $verdeosc;
		@include radius(50%);
	}
}
.quote{
	padding: 10px;
	background-color: $verdeosc;
	.cont{
		padding: 30px;
		border: 3px solid white;
		blockquote{
			color: #fff;
			font-size: 18px;
			padding: 50px 0;
			position: relative;
			&:before, &:after{
				content: '';
				width: 54px;
				height: 35px;
				position: absolute;
			}
			&:before{ background: url(../img/icons/lquote.png); top: 0; left: $space; }
			&:after{ background: url(../img/icons/rquote.png); bottom: 0; right: $space; }
		}
	}
}
#blog-list{
	.item{ background-color: #f1f1f1; }
	img{ width: 100%; display: block; }
	h4{ color: $azulmed; letter-spacing: 0.1em; font-size: 15px; margin-bottom: 5px; }
	.item-main{ background: none; h4{ font-size: 18px; margin-bottom: 10px; } }
	h2{ color: #000; font-family: 'ProximaNova-Bold', sans-serif; font-weight: normal; line-height: 95%; }
	a{ color: #3d3935; .icon{ color: $azulmed; } }
	p{ font-size: 18px; line-height: 130%; a{ color: $azulmed; } }
}
.tag{ margin: 0 10px 10px 0; font-size: 15px; }
.autor{
	width: 160px;
	height: 160px;
	margin-right: 20px;
	display: inline-block;
	vertical-align: middle;
	border: 6px solid $azulmed;
	@include radius(50%);
	img{ @include radius(50%); }
}
.w60{ width: 60%; vertical-align: middle; }
.shareaholic-canvas .shareaholic-share-buttons-container ul.shareaholic-share-buttons{ margin: 0 !important; padding: 0 !important }
.shareaholic-canvas .shareaholic-share-buttons-container li.shareaholic-share-button{ padding:0 10px 0 0 !important; }
#geolocate{ padding: 20px; }
#ubicaciones{ padding-top: 40px; height: 0; overflow: hidden; &.open{ border-top: 1px solid $azul; height: auto; } }
.ubicaciones li{
	cursor: pointer;
	min-height: 70px;
	position: relative;
	padding-left: 60px;
	margin-bottom: 20px;
	padding-bottom: 20px; 
	border-bottom: 1px solid #000;
	background: url(../img/icons/pin.png) 0 0 no-repeat;
	h3{ margin: 0; }
	a{ min-height: 42px; }
	&:before{
		width: 32px;
		content: attr(data-loc) "";
		font-size: 20px;
		text-align: center;
		position: absolute;
		left: 8px; top: 10px;
		font-family: 'ProximaNova-Bold', sans-serif;
	}
}
.simplePagerNav{
	text-align: center;
	margin-bottom: 30px;
	li{ 
		display: inline-block;
		a{ 
			color: $grisA; 
			margin: 0 7px; 
			font-size: 18px; 
			font-family: 'ProximaNova-Semibold', sans-serif; 
		}
		&.currentPage a{ color: #000; font-family: 'ProximaNova-Bold', sans-serif;  }
	}
}
#mapcanvas{
	width: 100%;
	height: 550px;
}
#mapcanvas img { max-width: none; }
#map-overlay, #map-loading{
	position: absolute;
	z-index: 30;
	width: 100%;
	top: 0; left: 0;
}
.careers{	td{ padding-top: 10px; padding-bottom: 10px } }

.error input { border-color: #EA6464; }
.error:before {
  padding: 5px 10px;
  color: #FFF;
  display: block;
  background-color: #EA6464;
  content: 'Este campo es requerido'; 
}

//////////////////////////
////  Media Queries  /////
//////////////////////////

// 1200
@media screen and (max-width: 1200px) {

	.busqueda{ width: 220px; }
	.tabs a{ font-size: 15px; padding: 15px 5px; }
	.t-mercados a{ font-size: 14px; }

}

// 1024
@media screen and (max-width: 1024px) {

	.content{ padding: 40px; }
	// .tabs a{ height: 62px }
	.t-mercados a.lh100{ line-height: 100%; }

}

// Tablet Vertical
@media screen and (max-width: 768px) {

	.hide-sm{ display: none !important; }
	
	h3, .h3{ font-size: 18px; }

	.sm-mb20{ margin-bottom: 20px }
	footer .divider:before{ display: none; }

	#slider .img-bg{
		padding-top: 120px;
		#slide1Overlay {
			margin-top: 23px; max-width: 110%; margin-left: -5%;
		}
		#slide1Header1 {
			position: relative; z-index: 999; margin-top: -140px; font-size: 27px; margin-left: 6%; font-family: 'soho_stdbold'; 
		}
		#slide1Header2 {
			position: relative; z-index: 999; margin-top: -105px; font-size: 18px; margin-left: 63%; color: white;
		}

		#slide2Overlay {
			margin-top: 23px; max-width: 110%; margin-left: -40px;
		}
		#slide2Logo {
			margin-top: -86px; margin-left: 14px; position: relative; z-index: 999; max-width: 156px;
		}
		#slide2Text {
			position: relative; z-index: 999; margin-top: 7px; margin-left: -14px; font-size: 8px; color: white;
		}
		#slide2Header1 {
			position: relative; z-index: 999; margin-top: -93px; font-size: 23px; margin-left: 63%; color: #143d6c; display: flex;
		}
		#slide2Header2 {
			width: 24px; height: 24px; display: inline-block; margin-right: 4px;
		}
		#slide2Header3 {
			position: relative; z-index: 999; margin-top: 2%; font-size: 10.5px; margin-left: 62%; color: #143d6c; line-height: 1;
		}

		#slide3Overlay {
			margin-top: 14.4px; max-width: 110%; margin-left: -5%;
		}
		#slide3Logo {
			margin-top: -86.4px; margin-left: 72%; position: relative; z-index: 999; max-width: 153.6px;
		}
		#slide3Header {
			position: relative; z-index: 999; margin-top: -68px; margin-left: 2%; font-size: 23px; color: black; display: flex;
		}
		#slide3Icon {
			width: 24.1px; height: 24.1px; display: inline-block; margin-right: 4px;
		}
		#slide3Text {
			position: relative; z-index: 999; margin-top: 3.6px; margin-left: 2%; font-size: 10.4px; color: black; line-height: 1;
		}
		#slide3Separator {
			width: 233.7px; margin-left: 2%; height: 1.8px; color: black; background-color: black; border: none;
		}
	}
	.home-block .cont{ padding: 40px 10%; }
	.busqueda{ width: 300px; }
	.content{ padding: 30px; }
	.tabs { a{ height: 62px } &.sm-ha a{ height: auto; }}
	.prod .img{ @include bgsize(80% auto); background-position: center center; }
	
}

// Mobile
@media screen and (max-width: 640px) {

	.hide-xs{ display: none !important; }
	.show-xs{ display: block !important; }
	.xs-center{ text-align: center; }
	.xs-left{ text-align: left; }
	.xs-mb10{ margin-bottom: 10px; }
	.xs-mb20{ margin-bottom: 20px; }
	.xs-mt10{ margin-top: 10px; }
	.xs-mb40{ margin-bottom: 40px; }
	.xs-ha{ height: auto }
	.xs-p0{ padding: 0 !important; }
	.p020{ padding: 20px 35px; }

	h1, .h1{ font-size: 40px; }
	h2, a.h2{ font-size: 20px; }
	p{ font-size: 14px; }

	header {
		a.btn{ display: none; }
		&.bg-azul{ height: 85px; .btn{ display: inline-block; font-size: 15px } }
		.btn-menu{ 
			width: 100%; 
			> span{ 
				display: block; margin-right: 0; padding-top: 10px; 
				span{ width: 100%; height: 3px; margin-bottom: 5px; @include radius(10px); } 
			} 
		}
	}
	aside{ width: 100%; right: -100%; nav{ margin-bottom: 40px; a{ padding: 10px 20px; } } }
	footer{ 
		.bg-azulmed{ padding: 0; }
		.container{ padding-top: 20px !important; padding-bottom: 20px !important; } 
		.tbl>div[class*="col"]{ width: 50%; padding: 0 15px; float: left !important; margin-bottom: 10px; ul{ height: 150px; } &:last-child ul{ height: auto; } } 
		iframe{ display: none; }
		.divider{ position: initial; &:before{ display: block; left: -5px; height: 100%; } }
		.mapa{ height: auto; a{ position: initial; text-transform: none; font-size: 12px; display: inline-block; width: auto; border-bottom: 1px solid #9f9; color: #9f9; background: none; padding: 0; text-align: left; @include opacity(1); } }
		.bg-azul{ h5{ font-size: 16px; text-align: center; margin-bottom: 20px; } h4{ font-size: 14px; } p{ font-size: 12px; } }
		img.inline{ width: 20%; vertical-align: middle }
		li a{ padding-bottom: 5px; font-size: 13px; }
	}
	.tbl{ display: block; > div[class*="col"]{ display: block; width: 100%; } }
	.content{ padding-left: 20px; padding-right: 20px; }
	table{
		thead, tbody, th, td, tr {	display: block;	}
		thead tr { position: absolute; top: -9999px; left: -9999px; }
		tr:nth-child(even) td{ background-color: #DDD; }
		tr td { 
			border: none;
			position: relative;
			padding: 15px 20px 15px 50%;
			width: 100%;
			color: $gris;
			text-align: center;
		}
		td:before { 
			position: absolute;
			top: 15px; left: 10px;
			width: 50%;
			text-align: left;
			padding-right: 10px; 
			overflow: hidden;
			word-break: break-word;
			content:attr(data-th) ": ";
		}
	}

	.xs-bgverde{ background-color: $verde; }
	.xs-bgnaranja{ background-color: $naranja; }
	.xs-bgazulmed{ background-color: $azulmed; }
	.pt170{ padding-top: 100px; }
	
	.grad{ overflow: hidden; }
	#slider {
		margin-bottom: 30px;
		h1{ font-size: 24px; }
		h2{ font-size: 15px; }
		.img-bg{
			height: 300px;
			#slide1Overlay {
				margin-top: 23px; max-width: 110%; margin-left: -5%;
			}
			#slide1Header1 {
				position: relative; z-index: 999; margin-top: -70px; font-size: 11.3px; margin-left: 10%; font-family: 'soho_stdbold'; 
			}
			#slide1Header2 {
				position: relative; z-index: 999; margin-top: -35px; font-size: 6px; margin-left: 63%; color: white;
			}

			#slide2Overlay {
				margin-top: 23px; max-width: 110%; margin-left: -2vw;
			}
			#slide2Logo {
				margin-top: -40px; margin-left: 5.5px; position: relative; z-index: 999; max-width: 64px;
			}
			#slide2Text {
				position: relative; z-index: 999; margin-top: 2.8px; margin-left: -5.7px; font-size: 5px; color: white;
			}
			#slide2Header1 {
				position: relative; z-index: 999; margin-top: -62px; font-size: 10px; margin-left: 60%; color: #143d6c; display: flex;
			}
			#slide2Header2 {
				width: 12px; height: 12px; display: inline-block; margin-right: 4px;
			}
			#slide2Header3 {
				position: relative; z-index: 999; margin-top: 5.8px; font-size: 5px; margin-left: 59%; color: #143d6c; line-height: 1;
			}

			#slide3Overlay {
				margin-top: 14.4px; max-width: 110%; margin-left: -9%;
			}
			#slide3Logo {
				margin-top: -40.8px; margin-left: 72%; position: relative; z-index: 999; max-width: 64px;
			}
			#slide3Header {
				position: relative; z-index: 999; margin-top: -29.5px; margin-left: 2%; font-size: 13px; color: black; display: flex;
			}
			#slide3Icon {
				width: 13.8px; height: 13.8px; display: inline-block; margin-right: 4px;
			}
			#slide3Text {
				position: relative; z-index: 999; margin-top: 1.43px; margin-left: 2%; font-size: 5.9px; color: black; line-height: 1;
			}
			#slide3Separator {
				width: 135px; margin-left: 2%; height: 1.4px; color: black; background-color: black; border: none;
			}
		}
		.slick-dots li { display: inline-block; margin-left: 2px; margin-right: 2px; }
	}
	#home-stage { height: auto; #bloques, > .trans-bco{ position: initial; bottom: 0 } }+
	.circ{ padding-top: 70px; }
	.home-block { margin-bottom: 10px; 
		.cont{ 
			padding: 0 0 10px; 
			position: relative;
			&:after{ content: 'j'; font-family: 'quimobasicos'; position: absolute; color: #FFF; display: block; top: 50%; right: 0; font-size: 26px; margin-top: -13px; }
		} 
		.btn{ text-align: left; position: absolute; background: none; height: 100%; } 
		br, hr{ display: none; } 
		p{ padding: 40px 28px 0 18px; margin: 0; } 
	}
	.busqueda{ width: 100%; margin-top: 5px; }
	.tabs a{ height: auto; border-right: none; }
	.stage{ height: auto; padding-top: 140px; h1{ font-size: 35px; } }
	.prod { p{ height: auto; } .img{ height: 220px; @include bgsize(contain); } }
	.simplePagerNav li a{ margin: 0 10px; font-size: 20px; }
	
}

